## Exercícios

1. Considere a existência de três tabelas distintas:
* customer.csv : Possui a informação dos clientes em duas colunas: customer id  customer name
* products.csv : Conté informação dos produtos vendidos pela empresa em três colunas - p_id (product id), product (name) e price
* sales.csv : Contém informações das vendas realizadas em seis colunas - sale_id, c_id (customer id), p_id (product_id), qty (quantity sold), store (name)

Conhecendo as bases e utilizando os métodos de concatenação de bases responda:

a) Quais produtos não foram vendidos?

In [82]:
import pandas as pd
import numpy as np

customers = pd.read_csv(r'C:\Users\4bit\Desktop\DSD\MÓDULO 04 - Técnicas de programação\Lets_Code_DS_Degree_Alunos\Módulo 3 - Pandas\data\customer.csv')
products = pd.read_csv(r'C:\Users\4bit\Desktop\DSD\MÓDULO 04 - Técnicas de programação\Lets_Code_DS_Degree_Alunos\Módulo 3 - Pandas\data\products.csv')
sales = pd.read_csv(r'C:\Users\4bit\Desktop\DSD\MÓDULO 04 - Técnicas de programação\Lets_Code_DS_Degree_Alunos\Módulo 3 - Pandas\data\sales.csv')

In [96]:
df = sales.merge(products[['product']], how="right", on="product")
df[df['sale_id'].isna()]['product']

0        Hard Disk
10        Keyboard
11           Mouse
12     Motherboard
13    Power supply
Name: product, dtype: object

b) Quantos clientes não realizaram uma compra?

In [114]:
df = sales.merge(customers[['c_id', 'Customer']], how="right", on="c_id")
df[df['p_id'].isna()]['Customer']

9     King
10    Ronn
11     Jem
12     Tom
Name: Customer, dtype: object

c) Liste a quantidade vendida e o faturamento de cada produto

In [146]:
df = sales.merge(products, how='left', on=['p_id','product'])
df
df['fat'] = df['qty'] * df['price']
df.groupby(['product'])[['qty','fat']].sum()

         qty  fat
product
CPU        1   55
Monitor   12  900
RAM        7  630

d) Liste a quantidade vendida de cada produto por loja

In [155]:
sales.groupby(['product', 'store'])[['qty']].sum()

               qty
product store
CPU     DEF      1
Monitor ABC     10
        DEF      2
RAM     ABC      3
        DEF      4

e) Qual loja teve maior faturamento?

In [162]:
df = sales.merge(products, how='left', on=['p_id','product'])
df
df['fat'] = df['qty'] * df['price']
df.groupby('store')[['fat']].sum()

        fat
store
ABC    1020
DEF     565

f) Qual produto foi o mais vendido?

In [174]:
sales.groupby('product')['qty'].sum().sort_values(ascending=False).head(1)

product
Monitor    12
Name: qty, dtype: int64